<!-- views/partials/navigation.ejs -->

<nav class="navbar navbar-default pull-left" ng-controller="NavCtrl" snap-drawer>
	    <ul class="nav navbar-nav" ng-show="isLoggedIn()">
	      <li><a href="#" snap-toggle><i class="fa fa-search"></i> Buscador</a></li>
	      <li><a href="#/home" snap-toggle><i class="fa fa-cloud"></i> Clima</a></li>
	      <li><a href="#/roya" snap-toggle><i class="fa fa-leaf"></i> Cálculo de Roya</a></li>
	      <li><a href="#/gallo" snap-toggle><i class="fa fa-leaf"></i> Cálculo de Ojo de Gallo</a></li>
	      <li><a href="#/dosage" snap-toggle><i class="fa fa-cog"></i> Cálculo de Dosificación</a></li>
	      <li><a href="#/campo" snap-toggle><i class="fa fa-cog"></i> Hoja de enfermedad </a></li>
	      <li><a href="#/vulnerability" snap-toggle><i class="fa fa-cog"></i> Vulnerabilidad</a></li>
	      <!--<li><a href="#" snap-toggle><i class="fa fa-cog"></i> Cálculo de fertilizante</a></li>
	      <li><a href="#" snap-toggle><i class="fa fa-calculator"></i> Cálculo de cosecha</a></li>
	      <li><a href="#" snap-toggle><i class="fa fa-shopping-cart"></i> Proveedores</a></li>-->
	      <li><a href="#/news" snap-toggle><i class="fa fa-bell"></i> Noticias</a></li>
	      <li><a href="#/support" snap-toggle><i class="fa fa-comment"></i> Comunicación</a></li>
	      <li><a href="#/profile" snap-toggle><i class="fa fa-user"></i> Perfil</a></li>
	      <li><a href="#/login" ng-click="logOut()"><i class="fa fa-power-off"></i> Salir</a></li>
	    </ul>
	  </nav>